
@import "settings";
@import "function";

*{
	margin: 0;
	padding: 0;
}

.container{
	width:850px;
	margin: 0 auto;
	overflow: hidden;
}




nav{
	position: fixed;
	top: 0;
	background-color: rgba(255,255,255,0.2);
	width: 100%;
	z-index: 30;
	h3{
		text-align: center;
		padding: 0.7em 0;
	}
	&:hover{
		background-color: rgba(255,255,255,0.8);
	}
}

header{
	background-color: #888;
	height: 100vh;
	.main-visual{
		.img-home{
			background-image: url(../img/homebig1.png);
			background-size: cover;
			height: 100%;
			background-attachment:fixed;
		}
		height: 100vh;
		width: 100%;
		overflow: hidden;
		background-image: url(../img/homebig1.png);
		background-position: fixed;
		position: relative;
		top: 0;
		.text{
			width:100%;	
			position: absolute;
			bottom: 8%;
			text-align: center;
			h1{
				font-size: 9em;
				letter-spacing: 0.1em;
				line-height: 100%;
				padding-bottom: 15px;
			}
			h2{
				font-size: 1em;
			}
		}
	}
}

main{
	.msg, .msg2{
		height: 100vh;
		background-color: #000;
		color: #fff;
		text-align: center;
		padding-top: 90px; 
		box-sizing:border-box;
		letter-spacing: 0.14em;
		line-height: 1.7;
	}
	.big-com1{
		height: 100vh;
		overflow: hidden;
		position: relative;
		.img-home{
			// background-color: #000;
			overflow: hidden;
			height: 100%;
			background-image: url("../img/cover1.jpg");
			background-size: cover;
			background-position: center center;
			background-attachment:fixed;
		}
		.comment{
			width: 100%;
			text-align: center;
			position: absolute;
			top: 35%;
			color: #fff;
		}
	}
	.small-com1{
		height: 100vh;
		overflow: hidden;
		position: relative;
		.img-home{
			// background-color: #000;
			overflow: hidden;
			height: 100%;
			background-image: url("../img/cover2.jpg");
			background-size: cover;
			background-position: center center;
			background-attachment:fixed;
		}
		.left-comment{
			position: absolute;
			width: 50%;
			height: 100%;
			left: 0;
			top: 0;
			box-sizing:border-box;
			padding:3%;
			background-color: rgba(0,0,0,0.9);
			color: #fff;
		}
	}
	.small-com2{
		height: 100vh;
		overflow: hidden;
		position: relative;
		.img-home{
			// background-color: #000;
			overflow: hidden;
			height: 100%;
			background-image: url("../img/cover3.jpg");
			background-size: cover;
			background-position: center center;
			background-attachment:fixed;
		}
		.right-comment{
			position: absolute;
			width: 50%;
			height: 100%;
			right: 0;
			top: 0;
			box-sizing:border-box;
			padding:3%;
			background-color: rgba(0,0,0,0.9);
			color: #fff;
		}
	}
	.big-com2{
		height: 50vh;
		overflow: hidden;
		position: relative;
		.img-home{
			overflow: hidden;
			height: 100%;
			background-image: url("../img/cover1.jpg");
			background-size: cover;
			background-position: center center;
			background-attachment:fixed;
		}
		.comment{
			width: 100%;
			text-align: center;
			position: absolute;
			top: 35%;
			color: #fff;
			text-align: center;
		}
	}
	.small-com3{
		height: 100vh;
		overflow: hidden;
		position: relative;
		.img-home{
			// background-color: #000;
			overflow: hidden;
			height: 100%;
			background-image: url("../img/cover3.jpg");
			background-size: cover;
			background-position: center center;
			background-attachment:fixed;
		}
		.right-comment{
			position: absolute;
			width: 70%;
			height: 100%;
			right: 0;
			top: 0;
			box-sizing:border-box;
			padding:3%;
			background-color: rgba(0,0,0,1);
			color: #fff;
		}
	}
}

footer{
	width: 100%;
	height: 180px;
	p{
		text-align: center;
		padding-top: 30px;
		font-size: 10px;
		letter-spacing: 0.2em;
		#c{
			font-size: 12px;
			margin-top:3px; 
		}
	}
}