

@import "settings";
@import "function";

*{
	margin: 0;
	padding: 0;
}

.container{
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}

.container2{
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
}

h2{
	width: 200px;
	margin-left: 30px;
	font-size: 14px;
	display: inline-block;
}





header{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #888;
	nav{
		position: fixed;
		width: 100%;
		top: 0;
		height: 60px;
		z-index: 40;
		line-height: 60px;
		-webkit-transition: all .5s ease;
		   -moz-transition: all .5s ease;
		    -ms-transition: all .5s ease;
		     -o-transition: all .5s ease;
		        transition: all .5s ease;
		&:hover{
			background-color: #fff;
		}
		img{
			width: 80px;
			padding-top:10px;
		}
		h3{
			display:inline;
			margin-left: 30px;
		}
		ul{
			float: right;
			margin-right: 30px;
			li{
				list-style-type: none;
				float: left;
				padding: 0 10px;
				a{
					color: #000;
					text-decoration: none;
					display: block;
					-webkit-transition: all .5s ease;
				    -moz-transition: all .5s ease;
				    -ms-transition: all .5s ease;
				     -o-transition: all .5s ease;
					transition: all .5s ease;
					&:hover{
						color:rgba(0,0,0,0.5);
					}
				}
			}
		}
	}
	.main-visual{
		img{
			width: 100%;
		}
	}
}

.magazine{
	height: 100vh;
	width: 100%;
	margin: 150px 0 50px 0;
	background-color: #fff;
	.title{
		font-weight: normal;
		font-size: 14px;
	}
	h1{
		// text-align: center;
		padding: 10px 0 30px 0;
		font-size: 2.8em;
		font-weight: normal;
		text-align: center;
	}
	p{
		letter-spacing: 0.18em;
		font-size: 12px;
		line-height: 2.1em;
		text-align: center;
		.big{
			font-size: 2em;
		}
	}
}

.cover{
	width: 100%;
	margin: 150px 0;
	.container{
		overflow: hidden;
		position: relative;
		text-align: center;
	}
	.main-cover{
		width: 530px;
		float: left;
		img{
			width: 100%;
		}
	}
	h3{
		text-align: center;
		font-size: 2.8em;
		padding-bottom: 40px;
		// padding-bottom: 100px;
	}
	.select{
		float: left;
		overflow: hidden;
		width: 160px;
		margin-left: 10px;
		img{
			width: 100%;
			cursor: pointer;
			&:hover{
				opacity: 0.8;
			}
		}
		.sub-cover{
			bottom: 0;
			position: absolute;
			.covers{
				cursor: pointer;
			}
		}
	}
}

.contents{
	height: 50vh;
	width: 100%;
	background-size: cover;
	background-image: url(../img/home_bikes.jpg);
	background-attachment:fixed;
}

.contents2{
	padding-top: 40px;
	width: 100%;
	background-color: #000;
	color: #fff;
	h3{
		text-align: center;
		font-size: 2.8em;
	}
	h4{
		padding-bottom: 30px;
	}
	p{
		font-size: 14px;
		margin-top: 50px;
		padding-bottom: 70px;
		letter-spacing: 0.2em;
		line-height: 1.33;
	}
	img{
		width: 800px;
	}
	.con-img{
		width: 800px;
	}
}

.webcontents{
	height: 100vh;
	width: 100%;
	padding: 120px 0;
	background-color: #000;
	color: #fff;
	h3{
		text-align: center;
		font-size: 2.8em;
		padding-bottom: 50px;
	}
	.webmaga{
		width: 233px;
		height: 233px;
		border:1px #fff solid;
		box-sizing:border-box;
		background-color: #000;
		float: left;
		&:hover{
			background-color: #888;
		}
	}
}

.stock{
	width: 100%;
	background-color: #000;
	color: #fff;
	h3{
		text-align: center;
		font-size: 2.8em;
		padding: 30px 0;
	}
	.left{
		width: 420px;
		float: left;
		h4{
			font-size: 2.3em;
			border-left: #fff solid 8px;
			padding-left: 10px;
			margin-bottom: 20px;
		}
		p{
			font-size: 1.2em;
		}
	}
	.right{
		width: 240px;
		float: left;
		p{
			font-size: 0.7em;
		}
		h5{
			font-size: 2em;
			border-left: #fff solid 4px;
			padding-left: 6px;
			margin-bottom: 20px;
		}
	}
	.right2{
		width: 130px;
		float: left;
		p{
			font-size: 0.7em;
		}
		h5{
			font-size: 2em;
			border-left: #fff solid 4px;
			padding-left: 6px;
			margin-bottom: 20px;
		}
	}
}

.contact{
	width: 100%;
	height: 50vh;
	padding-bottom: 50px;
	background-color: #000;
	color: #fff;
	text-align: center;
	h3{
		text-align: center;
		font-size: 2.8em;
		padding: 30px 0;
	}
	a{
		text-decoration: none;
		border: solid #fff 1px;
		padding: 10px;
		display: block;
		width: 60%;
		margin: 0 auto;
		color: #fff;
		transition: all .5s ease;
		&:hover{
			background-color: #fff;
			color: #000;
		}
	}
}

footer{
	width: 100%;
	height: 180px;
	position: relative;
	h4{
		position: absolute;
		text-align: center;
		top: 0;
		left: 50%;
		margin-left: -25px;
		color: #fff;
		background-color: #000;
		width: 50px;
		height: 20px;
		font-size: 10px;
		font-weight: normal;
		cursor: pointer;
		a{
			text-decoration: none;
			color: #fff;
		}
	}
	.sns{
		text-align: center;
		width: 120px;
		margin: 0 auto;
		padding: 10px 0;
		p{
			padding-bottom: 10px;
		}
		.icon{
			float: left;
			width: 40px;
			font-size: 25px;
			color: #000;
		}
	}
	p{
		text-align: center;
		padding-top: 30px;
		font-size: 10px;
		letter-spacing: 0.2em;
		#c{
			font-size: 12px;
			margin-top:3px; 
		}
	}
}
