
@import "settings";
@import "function";

*{
	margin: 0;
	padding: 0;
}

.container{
	width:700px;
	margin: 0 auto;
	overflow: hidden;
}



nav{
	position: fixed;
	top: 0;
	// background-color: rgba(216,216,216,0.88);
	// background-color: #d8d8d8;
	width: 100%;
	z-index: 30;
	height: 56px;
	background-color: #fff;
	box-shadow: 0px 0px 1px 1px #888;
	h3{
		text-align: center;
		padding-top: 8px;

	}
}

main{
	position: relative;
	height: 100vh;
	overflow: hidden;
	object-fit: cover;
	.top{
		width: 100%;
		height: 100vh;
		top: 0;
		left: 100%;
		position:absolute;
		background-image: url(../img/enjinai_kiryu.jpg);
		background-size: cover;
		.title-text{
			text-align: center;
			h1{
				font-size: 3em;
				padding-top: 100px;
			}
			h2{
				padding-top: 50px;
				line-height: 3em;
			}
		}
	}
	.eye{
		width: 100%;
		height: 100vh;
		top: 0;
		left: 100%;
		position:absolute;
		background-image: url(../img/enjinai_ushio.jpg);
		background-size: cover;
		h1{
			font-size: 4em;
			position: absolute;
			top: 100px;
			left: 30px;
		}
		h2{
			position:absolute;
			bottom: 30px;
			left: 50px;
			font-size: 1.5em;
			a{
				color: #000;
			}
		}
		p{
			width: 500px;
			box-sizing:border-box;
			padding: 30px;
			background-color: rgba(255,255,255,0.5);
			font-size: 0.9em;
			letter-spacing: 0.2em;
			position: absolute;
			bottom: 30px;
			right: 50px;
		}

	}
	.stylist{
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0%;
		position:absolute;
		background-image: url(../img/enjinai_mori.jpg);
		background-size: cover;
		h1{
			font-size: 4em;
			position: absolute;
			top: 100px;
			right: 30px;
		}
		h2{
			position:absolute;
			bottom: 30px;
			right: 50px;
			font-size: 1.5em;
			a{
				color: #000;
			}
		}
		p{
			width: 500px;
			box-sizing:border-box;
			padding: 30px;
			background-color: rgba(255,255,255,0.5);
			font-size: 0.9em;
			letter-spacing: 0.2em;
			position: absolute;
			bottom: 30px;
			left: 50px;
		}
	}
	.dareka{
		width: 100%;
		height: 100vh;
		top: 0;
		left: 300%;
		position:absolute;
		background-image: url(../img/enjinai_ibata.jpg);
		background-size: cover;
	}
		h1{
			font-size: 4em;
			position: absolute;
			top: 100px;
			left: 30px;
		}
		h2{
			position:absolute;
			bottom: 30px;
			left: 50px;
			font-size: 1.5em;
			a{
				color: #000;
			}
		}
		p{
			width: 500px;
			box-sizing:border-box;
			padding: 30px;
			background-color: rgba(255,255,255,0.5);
			font-size: 0.9em;
			letter-spacing: 0.2em;
			position: absolute;
			bottom: 30px;
			right: 50px;
		}
}
